<include file="../../Common/View/Public/Header" title="修改密码" /> 
<include file="../../Common/View/Public/Menu" /> 


<form id="formChangePassword" method="post" style="margin: 8px auto 0px;">
        旧　密　码：<input id="oldLoginPassword" type="text" maxlength="30"><br><br>
        新　密　码：<input id="newLoginPassword" type="text" maxlength="30"><br><br>
        确认新密码：<input id="confirmNewLoginPassword" type="text" maxlength="30"><br><br>
        <input id="changePasswordSubmit" type="button" value="确认修改" style="margin-left: 20px;">
        <input id="changePasswordCancel" type="button" value="关闭修改密码框" style="margin-left: 20px;">
        <span id="tips"></span>
</form>
        
<include file="../../Common/View/Public/Footer" /> 