<include file="../../Common/View/Public/Header" title="新鲜分享" /> 
<include file="../../Common/View/Public/Menu" /> 
<style>
.remove-flag{
	position:relative;
	top: 1px;
	left:1px;
	display: none;
}
</style>
<div class="panel panel-success" style="margin-top:10px">
	<div class="alert alert-success" style="margin-bottom:0px" role="alert">
		<h2 class="panel-title">
			新鲜分享
			<?php if($isLogin){ ?>
				<a style="float:right" href="/Home/News/MyNews">我的分享</a>
				<a style="float:right;margin-right:6px" href="/Home/News/AddANews">添加分享</a>
				<a id="managmentItem" style="float:right;margin-right:6px" href="#">管理</a>
			<?php }else{ ?>
				<a style="float:right" href="/Home/Account/Login?returnUrl=/Home/News">登录后可添加分享</a>
			<?php } ?>
		</h2>
	</div>
	<ul class="list-group">
	<?php foreach($newsList as $index => $news){
			$classStr = "list-group-item-default" /*($index / 2 == 0)? "list-group-item-info" : "list-group-item-warning" */ ?>			
		<li class="list-group-item {$classStr}">
			<a href="/Home/News/DisplayANews/{$news.id}">{$news.title}</a>
			<span class="glyphicon glyphicon-remove remove-flag" id="removeFlag{$news.id}"></span>
		</li>
	<?php } ?>
	</ul>
</div>

<include file="../../Common/View/Public/JsRemoveSAN" />
<script>
	var managmentItemE = document.getElementById("managmentItem");
	managmentItemE.onclick = new GRemoveSAN().getClickCallBack("DeleteANewsById");
</script>

<include file="../../Common/View/Public/Footer" /> 