<include file="../../Common/View/Public/Header" title="百科" /> 
<include file="../../Common/View/Public/Menu" /> 

<div class="panel panel-success">
	<div class="panel-heading">
		<h2 id="title" class="panel-title">{$data.title}</h2>
	</div>
	<div id="content" class="panel-body" contenteditable="true" 
		style="border-top-style:dotted;border-top-width:1px;border-bottom-style:dotted;border-bottom-width:1px">
		{$data.content}
	</div>
	<a class="btn btn-default" href="/COUNTY_SPELLING/Home/Baike/index.html" role="button">取消</a>
	<button id="submitEdit" type="button" class="btn btn-default">提交</button>
	<span id="submitEditInfo"></span>
</div>
<script>
	var submitEditE = document.getElementById("submitEdit");
	submitEditE.onclick = function (){
		var entryId = {$data.id };
		var contentE = document.getElementById("content");
		var titleE = document.getElementById("title");
		var submitEditInfoE = document.getElementById("submitEditInfo");
		submitEditE.disabled = true;
		submitEditInfoE.innerText = "提交中...";

		var dataObj = {
			title:titleE.innerText,
			content:contentE.innerHTML,
			entryId:entryId
		}
		var dataStr = JSON.stringify(dataObj);
		var url = "/COUNTY_SPELLING/Home/Api/EditBaike/"+ entryId;
		var xhr = new XMLHttpRequest();
		xhr.open("POST",url);
		xhr.send(dataStr);
		xhr.onreadystatechange = function (e) {
			if (xhr.readyState == 4 && xhr.status == 200) {
				var responseObj = JSON.parse(xhr.responseText);
				if(responseObj.status == "success"){
					submitEditInfoE.innerText = "提交成功，将跳转到该词条";
					window.location.href = "/COUNTY_SPELLING/Home/Baike/index/"+ entryId;
				}else{
					submitEditInfoE.innerText = "发生错误";
				}
			}
		};
	}
</script>
<include file="../../Common/View/Public/Footer" /> 