<include file="../../Common/View/Public/Header" title="添加一个服务" /> 
<include file="../../Common/View/Public/Menu" /> 

<h2 class="panel-title">生活服务</h2>

<div style="float:right">
	<a class="navbar-brand" href="/Home/Service/AddAService">发布服务</a>
	<a class="navbar-brand" href="/Home/Service/AddANeed">发布需求</a>
</div>

<div class="panel panel-success">
	<div class="panel-heading">
		<h3 class="panel-title">我要办事</h3>
	</div>
	<p class="panel-body">
    	<foreach name="affair_hot" item="vo">
		<a style＝"margin:3px 9px 3px 9px;" href="/Home/Affair/DisplayAAffair/{$vo.id}">
			<span class="label label-success">{$vo.name}</span>
		</a>
		</foreach>
		<a href="/Home/Affair"><span class="label label-info">更多事项>></span></a>
		<br/>
		<a href="/Home/Affair/SuggestAddAAffair"><span class="label label-primary">提议新事务</span></a>
	</p>
</div>

<div class="panel panel-success">
	<div class="panel-heading">
		<h3 class="panel-title">热门服务</h3>
	</div>
	<p class="panel-body">
		<foreach name="services_hot" item="vo">
			<a style＝"margin:3px 9px 3px 9px;" href="/Home/Service/DisplayAService/{$vo.id}">
				<span class="label label-success">{$vo.name}</span>
			</a>
		</foreach>
	</p>
</div>

<div class="panel panel-success">
	<div class="panel-heading">
		<h3 class="panel-title">热门需求</h3>
	</div>
	<p class="panel-body">
		<foreach name="services_hot" item="vo">
			<a style＝"margin:3px 9px 3px 9px;" href="/Home/Service/DisplayAService/{$vo.id}">
				<span class="label label-success">{$vo.name}</span>
			</a>
		</foreach>
	</p>
</div>

<div class="panel panel-success">
	<div class="panel-heading">
		<h3 class="panel-title">服务分类</h3>
	</div>
	<p class="panel-body">
		<foreach name="serviceTypes_root" item="vo">
			<a style＝"margin:3px 9px 3px 9px;" href="/Home/Service/DisplayAServiceType/{$vo.id}">
				<span class="label label-success">{$vo.name}</span>
			</a>
		</foreach>
		<br/>
		<a href="/Home/Service/SuggestAddAServiceType"><span  class="label label-primary">提议新类型</span></a>
	</p>
</div>

<br/>
<include file="../../Common/View/Public/Footer" /> 
