<include file="../../Common/View/Public/Header" title="本县导航" /> 
<include file="../../Common/View/Public/Menu" /> 


<div class="panel panel-success" style="margin-top:10px">
	<div class="panel-heading">
		<h3 class="panel-title">
			本县微信
			<a style="float:right" href="/COUNTY_SPELLING/Home/Main/SuggestSite">推荐站点</a>
		</h3>
	</div>
	<p class="panel-body">
		<a href="http://www.e0734.com/" target="_blank"><span class="label label-success">中国衡阳新闻网</span></a>
	</p>
</div>

<div class="panel panel-success" style="margin-top:10px">
	<div class="panel-heading">
		<h3 class="panel-title">
			本县网站
			<a style="float:right" href="/COUNTY_SPELLING/Home/Main/SuggestSite">推荐站点</a>
		</h3>
	</div>
	<p class="panel-body">
		<a href="http://www.hyxnews.com/" target="_blank"><span class="label label-success">衡阳县新闻网</span></a>
		<a href="http://www.hyxzx.net/" target="_blank"><span class="label label-success">衡阳县新闻网</span></a>
		<a href="http://www.hyx.gov.cn/" target="_blank"><span class="label label-success">衡阳县党政门户网</span></a>
		<a href="http://www.hyxez.com/" target="_blank"><span class="label label-success">县二中</span></a>
		<a href="http://www.hyxzz.com/" target="_blank"><span class="label label-success">县职业中专</span></a>
		<a href="http://www.hyx.org.cn/" target="_blank"><span class="label label-success">吉祥鸟工作室</span></a>
		<a href="http://www.cmbbyey.com/" target="_blank"><span class="label label-success">聪明宝贝幼儿园</span></a>
	</p>
</div>


<div class="panel panel-success">
	<div class="panel-heading">
		<h3 class="panel-title">
			本市本省网站
			<a style="float:right" href="/COUNTY_SPELLING/Home/Main/SuggestSite">推荐站点</a>
		</h3>
	</div>
	<p class="panel-body">
		<a href="http://www.e0734.com/" target="_blank"><span class="label label-success">中国衡阳新闻网</span></a>
		<a href="http://www.rednet.cn/" target="_blank"><span class="label label-success">红网</span></a>
	</p>
</div>

<div class="panel panel-success">
	<div class="panel-heading">
		<h3 class="panel-title">
			热门网站
			<a style="float:right" href="/COUNTY_SPELLING/Home/Main/SuggestSite">推荐站点</a>
		</h3>
	</div>
	<p class="panel-body">
		<a href="https://www.baidu.com/" target="_blank"><span class="label label-success">百度</span></a>
	</p>
</div>

<br/>
<include file="../../Common/View/Public/Footer" /> 