<include file="../../Common/View/Public/Header" title="娱乐-游戏"  /> 
<include file="../../Common/View/Public/Menu" /> 

<div class="panel panel-success" style="margin-left:-15px; margin-right:-15px; margin-top:0px;border:0px">
    
    <div class="panel panel-success">
        <div class="panel-heading">
            <h2 class="panel-title">聊天室</h2>
        </div>
        
        <iframe class="panel-body" height="600" width="100%" style="padding:0px;border:0px"
            src="http://zxchat.applinzi.com?token={$token}">
        </iframe>
    </div>

</div>
<include file="../../Common/View/Public/Footer" />