<include file="../../Common/View/Public/Header" title="娱乐" /> 
<include file="../../Common/View/Public/Menu" /> 

<div class="panel panel-success"  style="margin-top:10px">
	<div class="panel-heading">
		<h2 class="panel-title">休闲娱乐</h2>
	</div>
	<div class="panel-body">
		<a href="/Main/Entertainment/GameList"><span class="label label-success">游戏</span></a>
		<a href="/Main/Entertainment/ChatRoom"><span class="label label-success">聊天</span></a>
		<a href="#"><span class="label label-success">抽奖</span></a>
	</div>
</div>

<include file="../../Common/View/Public/Footer" />